
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-bell"></i> Notifications
      </div>
      <div class="card-body">
        <div class="list-group list-group-flush small">
          <div *ngFor="let n of notificationsVisible">

            <!-- //+/ merk op: ID instellen met de code
                               [ID]=n.id
                               in plaats van de code
                               ID = {{n.id}}
                               want type is number ipv string -->
            <app-notification [ID]=n.id icoon="{{n.icon}}" boodschap="{{n.message}}"></app-notification>
          </div>


          <a class="list-group-item list-group-item-action" id="id_load_more" (click)="showMore()">Load more...</a>

        </div>
      </div>
    </div>
  </div>
</div>
